[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/OpenCL"]
	path = external/OpenCL
	url = https://github.com/KhronosGroup/OpenCL-SDK.git
[submodule "external/miss-opencl"]
	path = external/miss-opencl
	url = https://github.com/lfreist/miss-ocl
